.home{

    text-align: center;
}
.home h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 5px;
}
.home p{
    font-size: 20px;

}
.home img{
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
    .profile-img {
      max-width: 150px;
      height:150px        /* Reduce the size of the profile picture on mobile */
    }
  }
  
  @media (max-width: 480px) {
    .profile-img {
      max-width: 100px; 
      height:100       /* Further reduce the size on very small screens */
    }
  }