.home{

    text-align: center;
}
.home h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 5px;
}
.home p{
    font-size: 20px;

}
.home img{
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
    .home h1{
        font-size: 40px;
    }
    .home img {
      width: 250px;
      height:250px        /* Reduce the size of the profile picture on mobile */
    }
  }
  
  @media (max-width: 480px) {
    .home img {
      width: 150px; 
      height:150px;       /* Further reduce the size on very small screens */
    }
  }